# Carpetas temporales y de caché de Unity (LAS GRANDES CULPABLES)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Cc]aptures/
/[尝]ogs/
/[Uu]ser[Ss]ettings/
/[Cc]ache/

# Archivos de configuración de editores e IDEs autogenerados
*.csproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos del sistema operativo
.DS_Store
Thumbs.db